
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #edeef6;
  font-family: 'Poppins', sans-serif;
}

#title-bar {
  background-color: rgb(67, 87, 202);
  padding: 15px;
  color: whitesmoke;
  text-align: center;
}
#answer-select{
  position: absolute;
  left: 33%;
  top: 375px;
  text-align: center;
  width: 500px;
  cursor: pointer;
}

button {
  font-size: 20px;
  background-color: rgb(173, 173, 173);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 8px 12px ;
  cursor: pointer;
}

#question-nav {
  font-size: 20px;
  color: white;
  text-align: center;
  float: left;
  background-color: rgb(67, 87, 202);
  border: 0;
  border-radius: 5px;
  padding: 8px 12px ;
  width: 265px;
}

#question-nav #question-list {
  padding: 20px;
  list-style-type: none;
  text-align: center;
}

#question-nav li{
  cursor: pointer;
}

#question-nav button{
  cursor: pointer;
}

#random{
  font-size: 15px;
  background-color: rgb(173, 173, 173);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 8px 12px ;
}

#current-question {
  position: absolute;
  text-align: center;
  top: 200px;
  left: 33%;
  width: 500px
}

.modalContainer {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modalContainer.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 16px;
}

#new-question-form {
  position: absolute;
  right: 12px;
  top: 210px;
  float: right;
  text-align: left;
  color: #fff;
  background-color: rgb(67, 87, 202);
  border: 0;
  border-radius: 5px;
  padding: 8px 12px ;
  width: 265px;
}

#submit {
  font-size: 15px;
  background-color: rgb(173, 173, 173);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 8px 12px ;
}

select {
  text-align: center;
  margin-left: 35px;
  width: 100px;
  cursor: pointer;
}

#correct-counter{
  position: absolute;
  left: 40%;
  top: 450px;
  display: inline-block;
  text-align: center;
  width: 300px;
  align-items: center;
}

#delete-button{
  font-size: 15px;
  background: transparent;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  padding: 8px 12px ;
}